<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Shopping List Appium Tests">

    <!-- Allure TestNG Listener -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Shopping List Functionality Tests">
        <classes>
            <class name="Scenarios.Scenarios"/>
        </classes>
    </test>

</suite>